/* 
    Document   : custom_css
    Created on : Feb 11, 2016, 3:41:34 PM
    Author     : shazib
    Description:
        Purpose of the stylesheet follows.
*/

.listing_heading_ilgks{
    position:relative;
}